:root.light {
  --background: white;
  --on-background: rgba(0, 0, 0, 0.87);
  --border: #888888;
  --menu-background: #eeeeee;
  --menu-hover: #cccccc;
  --primary: #1e88e5;
  --on-primary: white;
  --primary-hover: #187bd2;
}

:root.dark {
  --background: #121212;
  --on-background: rgba(255, 255, 255, 0.87);
  --border: #888888;
  --menu-background: #444444;
  --menu-hover: #666666;
  --primary: #64b5f6;
  --on-primary: black;
  --primary-hover: #7cc1f7;
}

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 800px;
  background-color: var(--background);
  color: var(--on-background);
}

a {
  text-decoration: none;
  color: var(--on-background);
}

body {
  padding: 0 2em;
}

.header {
  margin-top: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;;
}

.post-header {
  margin: 2em 0 0.2em 0;
}

.post-sub-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.post-sub-header time {
  white-space: nowrap;
}

.dark-mode i,
.light-mode i {
  vertical-align: bottom;
  padding-top: 7px;
}

.header .light-mode {
  display: none;
}

.dark .header .light-mode {
  display: inline;
}

.dark .dark-mode {
  display: none;
}

.theme-menu {
  position: absolute;
  right: 0;
  background: var(--menu-background);
  border-radius: 5px;
}

.theme-menu:not(.show) {
  visibility: hidden;
}

.theme-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.theme-menu li:hover {
  background-color: var(--menu-hover);
}

.theme-menu li {
  padding: 0.7em;
}

.theme-menu li i {
  font-size: 1.2em;
  vertical-align: middle;
  padding-right: 0.5em;
}

.theme-menu:not(.dark-selected) li.dark-theme-menu-item i {
  visibility: hidden;
}

.theme-menu:not(.light-selected) li.light-theme-menu-item i {
  visibility: hidden;
}

.theme-menu:not(.default-selected) li.default-theme-menu-item i {
  visibility: hidden;
}

#nav-border {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  display: none;
}

#nav-border nav {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  flex: 1;
}

#nav-border nav a {
  font-size: 1.5em;
  padding: 0 0.5em;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: var(--background);
}

.tags {
  display: flex;
  gap: 0.4em;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.tag {
  font-size: 1.2em;
  border: 1px solid #888888;
  padding: 0.1em 0.5em;
  box-sizing: border-box;
}

.tag:hover {
  color: var(--on-primary);
  border-color: var(--primary-hover);
  background-color: var(--primary-hover);
}

.dark .tag {
  border-color: #888888;
}

.post-title:hover {
  color: var(--primary-hover);
}

.read-more {
  position: relative;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0.8em 0;
  padding: 0.8em;
  background-color: var(--primary);
  color: var(--on-primary);
}

.read-more:hover {
  background-color: var(--primary-hover);
}
